body.article {
    background: $white;

    #thread {
        .itemlist {
            .fatitem {
                border: none;

                .votelinks {
                    background: $white;
                }
            }
        }
    }

}