body.article {
    background: $white;

    header,
    footer,
    #lowfundswarning {
        display: none;
    }

    #thread {
        .itemlist {
            .fatitem {
                border: none;
                font-size: 1.125rem;

                .votelinks {
                    background: $white;
                }

                table {
                    font-size: 1rem;
                }
            }
        }
    }

}