#notifications {
  @include container-thin;

  .notificationtitle {
    background: #f0f1f3;

    .memberfilter {
      margin-left: 0;

      span[id^=memberinfo0notifications] {
        display: flex;
      }
    }

    a {
      &:last-of-type {
        // margin-right: 0;
      }
    }
  }



  .notificationtitle,
  .repost {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .age {
      margin-left: 0.25rem;
    }
  }

  ul.notificationslist {
    padding: 0;

    li {
      list-style-type: none;
      @include card;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      overflow: inherit;

      &:hover {
        box-shadow: 0 1px 3px $text-divider, 0 1px 2px rgba(0, 0, 0, 0.24);
      }

      hr.notificationhr {
        display: none;
      }

      a {

        // &:not(:first-child):not(:last-child) {
        //   margin: 0 0.25rem;
        // }

        margin: 0 0.25rem;


        &.hnuser {
          margin-left: 0;
          white-space: nowrap;
        }
      }



    }
  }
}