#thread {
  @include container-thin;

  .title {
    font-weight: bold;
  }

  .itemlist {
    .fatitem {
      @include card;

     

    }

    .nocommentsyet{
      text-align: center;
      font-style: italic;
      color: $text-primary;
    }
  }
}