.fatitem {
  .reply {

    // styles for long text-post
    div:only-child {
      display: flex;
      flex-direction: row;
    }

    .votelinks {

      a,
      span {
        display: none;
      }
    }

    .comhead,
    .subtextbuttons {
      display: none;
    }

    .commentdetails {
      padding: $base-padding;
      width: 100%;
    }
  }
}

.comment-tree {
  @include card;
  padding: $base-padding/2 0;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;


      .comhead {
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 0.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .score {
          margin-right: 0.25rem;
        }

        .memberfilter {
          margin-left: 0.25rem;
        }
      }


      &.collapsed {
        margin-left: 2.25rem;
        font-size: $font-size-tiny;
        padding: $base-padding/2 0;
        font-weight: bold;
        left: 0.85em;
        position: relative;
        top: 0.65em;
      }

      .highlight {
        background-color: $highlight-color;
      }

      .reply {
        margin-bottom: $base-padding;

        div:only-child {
          display: flex;
          flex-direction: row;

          .votelinks {
            background: transparent;
            position: relative;

            &:before {
              content: "";
              position: absolute;
            }

            .betweenvotesscoredown,
            .betweenvotesscore,
            .betweenvotesscoreup {
              display: none;
            }
          }

          .commentdetails {
            padding: $base-padding $base-padding $base-padding 0;
            width: 100%;

            .comment {
              font-size: 1rem;

              .commentbody {
                @include word-wrap;
                a {
                  overflow-wrap: anywhere;
                }
              }
            }
          }
        }
      }

      ul {
        margin-left: 2.5rem;
        border-left: 1px solid $text-divider !important;

        ul {
          margin-left: .5rem;

          ul {
            margin-left: .5rem;

            ul {
              margin-left: .5rem;

              ul {
                margin-left: .5rem;

                ul {
                  margin-left: .5rem;


                  ul {
                    margin-left: .1rem;

                  }

                }

              }

            }


          }

        }
      }
    }
  }
}