.memberfilter {
    position: relative;
}

.profilepreview {
    position: absolute;
    display: block;
    background: white;
    border: 1px solid $text-divider;
    border-radius: 0.5rem;
    padding: 1rem;
    top: 0;
    z-index: 99;
    width: 400px;
    // width: 300px;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .post .postdetails .subtext a {
        color: $text-primary;
    }

    .profile-meta {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: $text-primary;

        .member-handle {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }

        .member-pagingid {
            font-weight: 400;
            color: $text-secondary;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        a {
            &:last-of-type {
                width: 100%;
            }
        }
    }

    .profile-text {
        font-size: 1rem;
        color: $text-primary;
        font-weight: 400;
        line-height: 1.15;
        margin-bottom: 0.5rem;
        font-size: 0.825rem;
    }

    .profile-actions {
        display: flex;
        align-items: center;

        .profilepreviewfollowers {
            color: $text-primary;
        }

        .profilepreviewfollowers {
            flex: 1;
            color: $text-primary;
        }

        .profilepreviewfollowbutton {
            a {
                @include btn;
                margin-bottom: 0;
            }
        }
    }

}