table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1rem;
  display: table;
  width: 100%;

  @include media("<desktop") {
    overflow-x: auto;
  }




  thead {
    tr {
      border-bottom: 1px solid $text-divider;
      th,
      td {
       
        background: $theme-secondary;
        color: $white;
        padding: 0.5rem;
        font-weight: bold;
      }
    }
  }

  tbody {
    width: 100%;
    display: contents;

    tr {
      border-bottom: 1px solid $text-divider;
      td {
        padding: 0.5rem;
      }

      &:nth-child(even) {
        background: $table-even;
      }
    }
  }
}