img {
  width: 100%;
  height: auto;
}

.imgurimage {
  $deepColor: rgba(0, 0, 0, .12);
  $cubeSize: 25px;
  background-color: white;
  background-image:
    linear-gradient(45deg,
      $deepColor 25%,
      transparent 25%,
      transparent 75%,
      $deepColor 75%,
      $deepColor),
    linear-gradient(45deg,
      $deepColor 25%,
      transparent 25%,
      transparent 75%,
      $deepColor 75%,
      $deepColor);
  background-size: ($cubeSize * 2) ($cubeSize * 2);
  background-position: 0 0, $cubeSize $cubeSize;
}

.jdenticon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.25rem;
  background: $white;
  border-radius: 100%;
}

.jdenticonlarge {
  width: 100px;
  height: 100px;
  background: $white;
}

/*! Remove newlines for links*/
.post .postdetails .title a[href]:not([href^="#thread?"]) {
  padding-bottom: 0rem;
  display: inline;
}

/*! For deep nesting on narrow screens*/

.comment-tree ul ul ul {
  margin-left: 0.5rem;
}

/*! separate memo / member links on profile page*/
.separatorwide::before {
  content: " ";
}

/*! don't capitalize member.cash */
.header .pagetop nav .membertext {
  text-transform: none;
}

/*! newline after each user search result*/

#usersearchresults br {
  display: inherit;
}

/*! grey out muted users or filtered users/posts in threads*/

.blocked {
  opacity: 0.2;
}

.sats {
  padding: 0;
  position: relative;

  &:before {
    content: ",";
  }
}

.previewcontent {
  display: none;
}


.memberpicturelarge,
.memberpicturesmall,
.settingspicturelarge {
  outline: none;
  border-radius: 0.5rem;
}

.memberpicsmall {
  display: flex !important;
  align-items: center !important;
  margin-right: 0.25rem;
  width: 2rem;

  .memberpicturesmall {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    display: inline-block;
    margin-right: 0.25rem;
  }
}


.memberpicturelarge,
.settingspicturelarge {
  height: 320px;
  width: 320px;
  margin: 0;
  margin-bottom: 1rem;
}

.settingspicturelarge {
  margin: 0 auto;
}


.member-handle,
.member-pagingid {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;

  @include media(">phone") {
    max-width: 200px;
  }

}